---
layout: layouts/base.html
title: update feed from carrie hott
description: news and updates from carrie hott
---

<div class="updatefeed">
  <h1>Exhibitions, talks, & projects</h1>
  <br>
    <a href="/feed.xml" class="rss-subscribe">
    📡 subscribe to updates via RSS 📡 
  </a>
  {% for item in news %}
  <article class="feed_item" id="item{{ loop.index }}">
    <h2>{{ item.title }}</h2>
    <time>{{ item.date }}</time>
    {% if item.image %}
      <img src="{{ item.image }}" alt="{{ item.title }}">
    {% endif %}
    <p>{{ item.content }}</p>
    {% if item.link %}
      <a href="{{ item.link }}" target="_blank">{{ item.linkText }}</a>
    {% endif %}
  </article>
  {% endfor %}
</div>