---
layout: layouts/base.html
title: update feed from carrie hott
description: news and updates from carrie hott
---

<div class="updatefeed">
  <h1>Exhibitions, talks, & projects</h1>
  <br>
    <a href="/feed.xml" class="rss-subscribe">
    📡 subscribe to updates via RSS 📡 
  </a>

  <form
  action="https://buttondown.com/api/emails/embed-subscribe/hott"
  method="post"
  class="embeddable-buttondown-form"
  referrerpolicy="unsafe-url">
  <label for="bd-email" > 💌 or sign up for my very occasional   <a href="https://buttondown.com/refer/hott" target="_blank" class="presslink">email list:</a></label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="💌" />
  <p>
</form>
  {% for item in news %}
  <article class="feed_item" id="item{{ loop.index }}">
    <h2>{{ item.title }}</h2>
    <time>{{ item.date }}</time>
    {% if item.image %}
      <img src="{{ item.image }}" alt="{{ item.title }}">
    {% endif %}
    <p>{{ item.content }}</p>
    {% if item.link %}
      <a href="{{ item.link }}" target="_blank">{{ item.linkText }}</a>
    {% endif %}
  </article>
  {% endfor %}
</div>